{% extends 'base.html.twig' %}

{% block title %}Create Projects{% endblock %}

{% block body %}
    <h1>Create a New Project</h1>
    <div class="content--wrapper">
        <div class="content--form">
            {{ form_start(form) }}
            <div class="form--group">
                {{ form_label(form.name, 'Project Name:', {'label_attr': {'class': 'form--label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form--control'}}) }}
            </div>
            <div class="form--group">
                {{ form_label(form.targetLanguages, 'Target Languages:', {'label_attr': {'class': 'form--label'}}) }}
                <div class="form--control form--target">
                    {% for language in form.targetLanguages %}
                        <div class="form--checkbox">
                            {{ form_widget(language) }}
                            {% set languageLabel = language.vars.label %}
                            {% if languageLabel == 'French' %}
                                <span class="fi fi-fr"></span>
                            {% elseif languageLabel == 'English' %}
                                <span class="fi fi-gb"></span>
                            {% elseif languageLabel == 'Spanish' %}
                                <span class="fi fi-es"></span>
                            {% elseif languageLabel == 'German' %}
                                <span class="fi fi-de"></span>
                            {% elseif languageLabel == 'Italian' %}
                                <span class="fi fi-it"></span>
                            {% elseif languageLabel == 'Darija' %}
                                <span class="fi fi-dz"></span>
                                <span class="fi fi-ma"></span>
                            {% elseif languageLabel == 'Tamazight' %}
                                <img src="{{ asset('images/tamazight_flag.svg') }}" style="width:2em; margin-top:-4px" alt="Flag tamazight">
                            {% endif %}
                            {{ form_label(language) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            {{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
            {{ form_end(form) }}
            <a href="{{ path('app_main_homepage') }}">
				<button class="btn btn--homepage">Back to Home</button>
			</a>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <style>
        body {
            background-color: #f4f7f6;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin: 4rem;
            color: #34495e;
            font-size: 2.5rem;
            font-weight: bold;
        }

        .content--wrapper {
            background-color: #ffffff;
            padding: 4rem;
            margin: 2rem auto;
            max-width: 600px;
            border-radius: 15px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        }

        .content--form {
            width: 100%;
        }

        .form--group {
            margin-bottom: 1.5rem;
        }

        .form--label {
            font-weight: 500;
            display: block;
            color: #34495e;
            margin-bottom: 0.5rem;
            font-weight: bold;
        }

        .form--checkbox{
            margin-top: 1rem;
            font-weight: bold;
        }

        .form--control {
            width: 100%;
            padding: 0.75rem;
            border: 1px solid #ddd;
            border-radius: 10px;
            font-size: 1rem;
            background-color: #f9f9f9;
            color: #333;
        }

        .btn {
			width: 100%;
			padding: 0.75rem;
			border: none;
			border-radius: 10px;
			background-color: #5dca88;
			color: white;
			font-size: 1rem;
			font-weight: 600;
			cursor: pointer;
			transition: background-color 0.3s ease;
			margin-top: 1em;
		}

        .btn--homepage {
			background-color: pink;
		}

        .btn:hover {
            opacity: 0.8;
        }

        .fi {
			line-height:22px;
		}
    </style>
{% endblock %}
