{% extends 'base.html.twig' %}

{% block title %}Hello SourcesController!{% endblock %}

{% block body %}

<div class="content---wrapper">
{{ source.key }}
{{ source.content }}
{{ form(form) }}
{% for translation in translations %}
    <p>{{ translation.language }}</p>
    <p>{{ translation.translatedContent }}</p>
{% endfor %}
</div>

{% endblock %}
