{% extends 'base.html.twig' %}

{% block title %}Update Source
{% endblock %}

{% block body %}

	<div class="content-wrapper">
		<a href="{{ path('app_projects_show', { 'id': project }) }}">
			<button class="btn--navigation">
				<span class="material-symbols-outlined btn--navigation__arrow" style="font-size:3rem">
					arrow_back
				</span>
			</button>
		</a>
		<h1>Update Source</h1>
		<div class="source-content">
			{{ form_start(form) }}
			<p class="content--label">Content :</p>
			<div class="form-group">
				{{ form_widget(form.content, {'attr': {'class': 'form--content'}}) }}
			</div>
			<div class="form-group">
				{{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	<style>
		body {
			background-color: #f4f4f9 !important;
			color: #333;
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
		}

		.content-wrapper {
			background-color: #ffffff;
			padding: 2rem;
			margin: 50px auto;
			max-width: 600px;
			border-radius: 15px;
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
		}

		h1 {
			text-align: center;
			margin: 4rem 2rem 8rem;
			color: #34495e;
			font-size: 2.5rem;
			font-weight: bold;
		}


		.btn--navigation__arrow {
			color: #5dca88;
		}
		.btn--navigation {
			position: relative;
			display: block;
			width: 8rem;
			padding: 0.75rem;
			border: none;
			border-radius: 10px;
			background-color: black;
			color: white;
			font-size: 1rem;
			font-weight: 600;
			cursor: pointer;
			transition: background-color 0.3s ease;
			margin-top: -1.5em;
			margin-left: -1rem;
			margin-bottom: 3rem;
			height: 5rem;
		}


		h1 {
			text-align: center;
			color: #2c3e50;
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		.source--content {
			margin-top: 1rem;
		}

		.form-group {
			margin-bottom: 1.5rem;
		}

		.form--content {
			width:98%;
		}


		.form-control {
			width: 96%;
			padding: 0.75rem;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-size: 1rem;
			color: #333;
		}

		.btn {
			display: block;
			width: 100%;
			padding: 0.75rem;
			border: none;
			border-radius: 8px;
			background-color: #5dca88;
			color: white;
			font-size: 1rem;
			font-weight: 600;
			cursor: pointer;
			transition: background-color 0.3s ease;
			margin-top: 1rem;
			text-align: center;
		}

		.btn:hover {
			opacity: 0.8;
		}

		.content--label {
			font-size: 1.2rem;
			color: #34495e;
			font-weight: bold;
			margin-top: 3em;
			margin-bottom: 2em;
		}
	</style>
{% endblock %}
