{% extends 'base.html.twig' %}

{% block title %}Home - Crowdin
{% endblock %}

{% block body %}
	<!--[if lt IE 8]>
									    <div style=' clear: both; text-align:center; position: relative;'>
									        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
									            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
									        </a>
									    </div>
									<![endif]-->
	<!--[if lt IE 9]>
									    <script src="{{ asset('js/html5shiv.js') }}"></script>
									    <link rel="stylesheet" media="screen" href="{{ asset('css/ie.css') }}">
									<![endif]-->
		<body class="page1" id="top"> <div
			class="main_color">
			<!--==============================header=================================-->
			<div class="container_12">
				<div class="grid_12">
					<header>
						<h1>
							<img src="{{ asset('images/logo.png') }}" alt="Your Happy Family">
						</a>
					</h1>
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								{% if app.user %}
									<li>Welcome,
										<span>{{ app.user.pseudo }}</span>
									</li>
								{% else %}
									<li>Welcome,
										<span>guest</span>
									</li>
								{% endif %}
								<li>
									<a href="#">Authentification</a>
									<ul>
										{% if app.user %}
											<li>
												<a href="{{ path('app_disconnection') }}">Disconnection</a>
											</li>
										{% else %}
											<li>
												<a href="{{ path('app_connection') }}">Connection</a>
											</li>
											<li>
												<a href="{{ path('app_inscription') }}">Inscription</a>
											</li>
										{% endif %}
									</ul>
								</li>
								<li>
									<a href="{{ path('app_projects') }}">Projects</a>
									<ul>
										<li><a href="{{ path('app_projects_create') }}">Add Project</a></li>
									</ul>
								</li>
								{% if app.user %}
									<li>
										<a href="{{ path('app_profil')}}">My Profile</a>
									</li>
								{% endif %}
								<li>
									<a href="index-4.html">Contacts</a>
								</li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</header>
			</div>
		</div>

		<div class="slider_wrapper">
			<div id="camera_wrap" class="">
				<div data-src="{{ asset('images/slide.jpg') }}">
					<div class="caption fadeIn">
						<h2>Interpreting &amp; Document
							<strong>TRANSLATION SERVICES</strong>
						</h2>
					</div>
				</div>
				<div data-src="{{ asset('images/slide1.jpg') }}">
					<div class="caption fadeIn">
						<h2>Proofreading, Transcription
							<strong>AND VOICEOVER SERVICES</strong>
						</h2>
					</div>
				</div>
				<div data-src="{{ asset('images/slide2.jpg') }}">
					<div class="caption fadeIn">
						<h2>Website translation
							<strong>AND LOCALIZATION SERVICES</strong>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="page1_block">
			<div class="container_12">
				<div class="grid_4">
					<div class="title col1">Welcome!</div>
				</div>
				<div class="grid_8">
					Our translators work only with subjects relevant to their qualifications and experience.
				</div>
			</div>
		</div>

		<!--==============================Content=================================-->
		<div class="top_block">
			<div class="container_12">
				<div class="grid_4">
					<div class="count">01</div>
					<div class="title col1">TRANSLATION EQUIPMENT
						<span>dolore ipsum</span>
					</div>
					Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit, bibendum et condimentum metusip dolore ipsum.
					<br>
					<a href="#" class="btn">More info</a>
				</div>
				<div class="grid_4">
					<div class="count">02</div>
					<div class="title col1">DESKTOP PUBLISHING
						<span>dolore ipsum</span>
					</div>
					Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit, bibendum et condimentum metusip dolore ipsum.
					<br>
					<a href="#" class="btn">More info</a>
				</div>
				<div class="grid_4">
					<div class="count">03</div>
					<div class="title col1">TRANSLATION SERVICES
						<span>dolore ipsum</span>
					</div>
					Lorem ipsum dolor sit amet, consectetur adipisc elit. Proin ultricies vestibulum velit, bibendum et condimentum metusip dolore ipsum.
					<br>
					<a href="#" class="btn">More info</a>
				</div>
			</div>
		</div>

		<div class="content">
			<div class="container_12">
				<div class="grid_8">
					<div class="grid_4 alpha">
						<h3>OUR
							<br>
							PRICE PROMISE</h3>
						<div class="text1">
							<a href="#">Mes cuml dia sed ineniasinge dolore ipsum.</a>
						</div>
						Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor.
						<br>
						<a href="#" class="btn">More info</a>
					</div>
					<div class="grid_4 omega">
						<h3>WHY
							<br>CHOOSE US?</h3>
						<div class="text1">
							<a href="#">Mes cuml dia sed ineniasinge dolore ipsum.</a>
						</div>
						Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor.
						<br>
						<a href="#" class="btn">More info</a>
					</div>
					<div class="clear"></div>
					<h3>Who we are
						<span class="col2">shortly about us</span>
					</h3>
					<img src="{{ asset('images/page1_img1.jpg') }}" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<div class="text1">
							<a href="#">Mes cuml dia sed ineniasinge dolore ipsum comnetus.</a>
						</div>
						<p class="p1">Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor nec met quam accumsan. Dolore condime netus lullam utlacus adipiscing ipsum molestie euismod lore estibulum vel libero ipsum sit amet sollicitudin ante.</p>
					</div>
					<div class="clear"></div>
					Dolor nunc vule putateulr ips dol consec.Donec semp ertet laciniate ultricie upien disse comete dolo lectus fgilla itollicil tua ludin dolor nec met quam accumsan. Dolore condime netus lullam ipsu utlacus adipiscing ipsum molestie euismod lore.
				</div>
				<div class="grid_4">
					<h3>OUR TRANSLATION</h3>
					<ul class="list">
						<li>
							<a href="#">Urgent translation</a>
						</li>
						<li>
							<a href="#">Patent translation</a>
						</li>
						<li>
							<a href="#">Legal translation</a>
						</li>
						<li>
							<a href="#">Medical translation</a>
						</li>
						<li>
							<a href="#">Marketing translation</a>
						</li>
						<li>
							<a href="#">Technical translation</a>
						</li>
						<li>
							<a href="#">Financial translation</a>
						</li>
						<li>
							<a href="#">Personal translation</a>
						</li>
						<li>
							<a href="#">Website translation</a>
						</li>
						<li>
							<a href="#">Transcription</a>
						</li>
						<li>
							<a href="#">Voiceovers</a>
						</li>
						<li>
							<a href="#">Proofreading</a>
						</li>
					</ul>
					<a href="#" class="banner">
						support
						<div class="col1">24/7</div>
					</a>
				</div>
			</div>
		</div>

		<div class="bottom_block">
			<div class="container_12">
				<div class="grid_5">
					<div class="title">Subscribe to our Newsletter</div>
				</div>
				<div class="grid_7">
					<form id="newsletter">
						<div class="grid_5 alpha">
							<div class="rel">
								<div class="success">Your subscribe request has been sent!</div>
								<label class="email">
									<input type="email" value="your email address">
									<span class="error">*This is not a valid email address.</span>
								</label>
							</div>
						</div>
						<div class="grid_2 omega">
							<a href="#" class="btn" data-type="submit">submit</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_4">
					<address class="add1">
						<img src="{{ asset('images/direct_icon.png') }}" alt="">
						langos
						<br>
						28 Jackson Blvd Ste 1020
						<br>
						Chicago, IL 60604-2340
						<br>
					</address>
				</div>
				<div class="grid_4">
					<address>
						<img src="{{ asset('images/mob_icon.png') }}" alt="">
						<span>Telephone: +1 800 603 6035</span>
						E-mail:
						<a href="#">mail@demolink.org</a>
					</address>
				</div>
				<div class="grid_4">
					<div class="copy">
						<strong>langos
						</strong>
						&copy;
						<span id="copyright-year"></span>
						|
						{# <a href="index-5.html">Privacy Policy</a> <!--{%FOOTER_LINK} --> #}
						<div class="socials">
							<a href="#"></a>
							<a href="#" class="rss"></a>
							<a href="#" class="tw"></a>
							<a href="#" class="gp"></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</div></body>{% endblock %}{% block javascripts %}<script>
$(document).ready(function () {
jQuery('#camera_wrap').camera({
loader: false,
pagination: true,
minHeight: '350',
thumbnails: false,
height: '34.66666666666667%',
caption: true,
navigation: false,
fx: 'mosaic'
});
$().UItoTop({easingType: 'easeOutQuart'});
});</script>{% endblock %}{% block stylesheets %}<style>

span {
	color: #5dca88;
}</style>{% endblock %}
